In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('User_Data.csv')

In [3]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [4]:
x= df[['Age', 'EstimatedSalary']]
y=df['Purchased']

In [5]:
x.head()

   Age  EstimatedSalary
0   19            19000
1   35            20000
2   26            43000
3   27            57000
4   19            76000

In [6]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Purchased, dtype: int64

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
x_train, x_test, y_train, y_test= train_test_split(x,y,test_size=0.2)

In [9]:
from sklearn.svm import SVC

In [ ]:
clf = SVC(kernel='linear')

In [ ]:
clf.fit(x_train,y_train)

In [ ]:
y_pred =clf.predict(x_test)

In [ ]:
y_pred

In [ ]:
from skklearn.metrics import accuracy_score

In [ ]:
accuracy_score(y_test, y_pred)